@model RegisterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registeration new user</h1>


<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row">     
        <div class="form-group col-md-4">
            <div>
                <label asp-for="Username"></label>
                <input class="form-control" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            
            <div>
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            
            <div>
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            
            <div>
                <label asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            
            <div>
                <label asp-for="PhoneNumber"></label>
                <input type="tel" class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>            

            <div>
                <label asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            
            <div>
                <input class="btn" type="submit" value="Register" />
            </div>        
        </div>
    </div>                  
</form>
