@page
@model EC_Website.Web.Pages.Wiki.Category.EditCategoryModel

@{
    ViewData["Title"] = "Edit Wiki Category";
}

<h1>Edit</h1>

<h4>Wiki Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-id="@Model.Category.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}