@page 
@model EC_Website.Pages.Article.EditArticleModel
@{
    ViewData["Title"] = "Edit Article";
}

@section Stylesheets  {
    <link rel="stylesheet" href="~/lib/fileupload/fileupload.css" />
}

<h2>Edit Article</h2>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Article.Title" class="control-label"></label>
                <input asp-for="Input.Article.Title" class="form-control" />
                <input type="hidden" asp-for="Input.Article.Id" />
                <span asp-validation-for="Input.Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Article.Summary" class="control-label"></label>
                <textarea asp-for="Input.Article.Summary" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Input.Article.Summary" class="text-danger"></span>
            </div>
            <div>
                <label>Cover image</label>
                <div class="file-upload mb-2">
                    @*<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>*@
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" asp-for="Input.CoverPhoto" type="file" onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h3>Drag and drop a file or select add Image</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="@Model.Input.Article.CoverPhotoUrl" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Article.Tags" class="control-label"></label>
                <input asp-for="Input.Article.Tags" class="form-control" />
                <span asp-validation-for="Input.Article.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Article.Content" class="control-label"></label>
                <span asp-validation-for="Input.Article.Content" class="text-danger"></span>
                <ejs-richtexteditor id="rich_texteditor" ejs-for="Input.Article.Content" height="300">
                    <e-richtexteditor-toolbarsettings items="@ViewData["toolbars"]" enableFloating="true">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-slug="@Model.Input.Article.Slug">Back to Article</a>
</div>

@section Scripts  {
    <script src="~/lib/fileupload/fileupload.js"></script>

    @if (!string.IsNullOrEmpty(Model.Input.Article.CoverPhotoUrl))
    {
        <script>
            $('.file-upload-content').show();
            $('.image-upload-wrap').hide();
        </script>
    }
}