@page "{boardId}"
@model EC_WebSite.Pages.Forums.Thread.CreateModel
@{
    ViewData["Title"] = "Create Thread";
}

<h2>Create new thread</h2>

<h4>Start new thread in: <span class="text-info">@Model.Board.Name</span> </h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateThread" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label class="control-label">Topic*</label>
                <input asp-for="Topic" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Post*</label>
                @Html.EditorFor(m => m.Text, additionalViewData: new { htmlAttributes = new { id = "summernote" } })
                @Html.HiddenFor(m => m.Board.Id)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>