@model ForumsViewModel
@{
    ViewData["Title"] = "Forum";    
}
<head>
    <style>       
        .forum_body {
            margin: auto;
            background-color: azure;
        }
        .forum_sketch {
            background-color: black;
            color: azure;
            border: dashed;
            border-color: black
        }
        .forum_search_panel {
            background-color: #454242;
            margin: auto;
        }
        .forum_category {
            background-color: seagreen;
            color: azure;
            font: bolder;
        }
        .table_thread {
            color: black;
            border: solid black;           
        }
    </style>
</head>


<div class="forum_sketch">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="h3">Official Forums</h3>
        </div>
        <div class="col-sm-8" style="color: black; text-align:right; margin-top: 15px">
            <a style="margin-top: 10px" class="glyphicon glyphicon-plus-sign" asp-action="CreateForum"></a>
            <a style="margin-top: 10px" class="glyphicon glyphicon-wrench"></a>
        </div>
    </div>
    
    <div class="forum_body">
        <div class="row forum_search_panel">
            <div class="col-sm-4">
                @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
                <button class="btn" style="margin:10px; color:black" asp-area="" asp-controller="Forums" asp-action="SearchForum">
                    Search
                </button>
            </div>
        </div>
        <table id="tableforum" class="table">
            <thead class="table_thread">
                <tr>
                    <th>
                        <strong>Board</strong>
                    </th>
                    <th>
                        <strong>Lattest Posts</strong>
                    </th>
                    <th>
                        <strong>Topics</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                    <th>
                        <strong>+Fav</strong>
                    </th>
                </tr>
            </thead>
            @foreach (var forumHeader in Model.ForumHeaders)
            {
                <tbody>
                    <tr class="forum_category">
                        <td class="h4" colspan="6">
                            <span>@forumHeader.Name</span> 
                        </td>                   
                    </tr>
                    <tr class="forum_subcategory">

                    </tr>
                </tbody>
            }
        </table>
        
    </div>
</div>    


