<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <partial name="_ValidationScriptsPartial"/>
    
    <style>
        .social_icons {
            height: 25px;
        }       
        .nav.navbar-nav li a {
            font-weight: bolder;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0b3743c9">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img class="img-rounded" src="~/images/ec_logo.jpg" alt="Hearts of Iron IV: Economic Crisis" height="32" width="32" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Forums" asp-action="Index">Forums</a></li>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>


    <footer class="panel-footer" style="background-color: #503333cc">
        <div class="row" style="margin-left: 20px">
            <div class="col-md-4">
                <p style="font:bold; color:azure">&copy; 2019 - EC Dev Team</p>
                <div>
                    <a style="color:aliceblue; font-weight:bold" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </div>
                <div style="margin-top:10px">
                    <a href="https://www.facebook.com/HOI.Economic.Crisis"><img class="social_icons" src="~/images/social_icons/facebook.png"></a>
                    <a href="https://steamcommunity.com/groups/ec_hoi_mod"><img class="social_icons" src="~/images/social_icons/steam.png"></a>
                    <a href="https://discordapp.com/invite/GPbPBe2"><img class="social_icons" src="~/images/social_icons/discord.png"></a>
                    <a href="https://vk.com/ec_hoi_mod"><img class="social_icons" src="~/images/social_icons/vk.png"></a>
                    <a href="https://www.youtube.com/c/HeartsofIronIVEconomicCrisis2013"><img class="social_icons" src="~/images/social_icons/youtube_35.png"></a>
                    <a href="https://www.moddb.com/mods/hearts-of-iron-iv-economic-crisis"><img class="social_icons" src="~/images/social_icons/moddb-black.png"></a>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
