@page
@model EC_Website.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Site Administration";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead class="bg-info">
        <tr>
            <th>
                <span class="text-white">AUTHENTICATION AND AUTHORIZATION</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="#">Users</a>
                <span class="float-right">
                    <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-plus text-success"></i>Add</a>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">Application Roles</a>
                <span class="float-right">
                    <a href="#"><i class="fa fa-plus text-success"></i>Add</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>