@page
@model ResetPasswordConfirmationModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Desc_1"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Desc_2"] <a asp-page="./Login">@Localizer["Desc_3"]</a>.
</p>
