@page
@model EC_WebSite.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Hearts of Iron IV: Economic Crisis";
}

<div class="container-fluid">
    <div class="row">
        <hr class="dropdown-divider" />
        <span class="h2">Development News</span>
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Developer") || User.IsInRole("Moderator"))
        {
            <span><a asp-page="/Home/CreateArticle" class="btn-sm btn-info">Create Article</a></span>
        }
        <hr class="dropdown-divider" />
        <div class="col-8 col-sm-9 col-lg-9">
            @foreach (var article in Model.Articles)
            {
                <div class="card">
                    <div class="card-header">
                        @Html.Label(article.Topic)
                        <span class="float-right">@article.CreatedTime.Value.ToString("MMM dd yyyy HH:mm")</span>
                    </div>
                    <div class="card-body">
                        @Html.Raw(article.Text)
                    </div>
                </div>
            }
        </div>
        <div class="col-4 col-sm-3 col-lg-3">
            <iframe src="https://discordapp.com/widget?id=261512941440860161&theme=dark" height="300" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
</div>

