@page "{boardId}"
@model EC_WebSite.Pages.Forums.Thread.CreateThreadModel
@{
    ViewData["Title"] = "Create Thread";
}

<h2>Create new thread</h2>

<h4>Start new thread in: <span class="text-info">@Model.Board.Name</span> </h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label class="control-label">Topic*</label>
                <input asp-for="Input.Topic" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Post*</label>
                <textarea asp-for="@Model.Input.Text" class="texteditor"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Forums/Board/Index" asp-route-boardId="@Model.Board.Id">Back to List</a>
</div>