@page
@model EC_Website.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Authentication and authorization";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead class="bg-info">
        <tr>
            <th class="text-white">
                AUTHENTICATION AND AUTHORIZATION
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Users
                <span class="float-right">
                    <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-plus text-success"></i>Add</a> &nbsp;
                    <a href="#"><i class="fa fa-plus text-warning"></i>Change</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>