@page
@model EC_Website.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section SEO {
    <meta name="description" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="keywords" content="ec, economic crisis, economic crisis 2013, hoi 4, hoi4, hoi 4, hoi IV, hoi ec, hoi4 ec, mod, hearts of iron 4, hearts of iron IV, economic crisis forum" />
    <meta property="og:title" content="Hearts of Iron IV: Economic Crisis" />
    <meta property="og:description" content="Hearts of Iron IV: Economic Crisis" />
    <meta property="og:site_name" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="twitter:title" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="twitter:description" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="image" content="http://ec.suxrobgm.net/img/ec_logo_large.jpg" />
}

<h2>Index</h2>

