@page
@model EC_Website.Web.Pages.Forums.Search.IndexModel
@{
    ViewData["Title"] = "Search Results";
}

@section Head {
    <link href="~/css/forum-theme.css" rel="stylesheet" />
}

<h1>Search Results</h1>

<p>Did not found any results</p>
