@page
@model EC_Website.Pages.Forums.Board.CreateBoardModel
@{
    ViewData["Title"] = "Create Board";
}

<h2>Create Board</h2>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-headId="@Model.Forum.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>          
            <div class="form-group">
                <label class="control-label">Create board for forum: <span class="text-danger">@Model.Forum.Title</span></label>
                <input class="form-control" asp-for="Board.Title" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

