@page
@model EC_Website.Pages.Admin.Users.CreateModel

@{
    ViewData["Title"] = "Create User";
}

<h1>Create</h1>

<h4>Application User</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppUser.UserName" class="control-label"></label>
                <input asp-for="AppUser.UserName" class="form-control" />
                <span asp-validation-for="AppUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Email" class="control-label"></label>
                <input asp-for="AppUser.Email" class="form-control" />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.FirstName" class="control-label"></label>
                <input asp-for="AppUser.FirstName" class="form-control" />
                <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.PhoneNumber" class="control-label"></label>
                <input asp-for="AppUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.LastName" class="control-label"></label>
                <input asp-for="AppUser.LastName" class="form-control" />
                <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Status" class="control-label"></label>
                <input asp-for="AppUser.Status" class="form-control" />
                <span asp-validation-for="AppUser.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Bio" class="control-label"></label>
                <textarea asp-for="AppUser.Bio" class="form-control" rows="5"></textarea>
                <span asp-validation-for="AppUser.Bio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
