@model string

@if (!string.IsNullOrEmpty(Model))
{

    var statusMessageClass = "success";
    if (Model.StartsWith("Error"))
    {
        statusMessageClass = "danger";
    }
    else if (Model.StartsWith("Warning"))
    {
        statusMessageClass = "warning";
    }

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}