@page
@model EC_Website.Web.Pages.Admin.UserBadges.CreateModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Create User Badge"];
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["User Badge"]</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Badge.Name" class="control-label"></label>
                <input asp-for="Badge.Name" class="form-control" />
                <span asp-validation-for="Badge.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Badge.Description" class="control-label"></label>
                <textarea asp-for="Badge.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Badge.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
