@page
@model EC_Website.Pages.Wiki.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WikiArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WikiArticle.Id" />          
            <div class="form-group">
                <label asp-for="WikiArticle.Title" class="control-label"></label>
                <input asp-for="WikiArticle.Title" class="form-control" />
                <span asp-validation-for="WikiArticle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Article Content</label>
                <span asp-validation-for="WikiArticle.Content" class="text-danger"></span>
                <ejs-richtexteditor id="rich_texteditor" ejs-for="WikiArticle.Content" height="300">
                    <e-richtexteditor-toolbarsettings items="@ViewData["toolbars"]" enableFloating="true">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
