@page
@model EC_WebSite.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin page</h2>

<ul class="nav nav-tabs">
    <li class="nav-item active"><a data-toggle="tab" href="#users_account">Users Account</a></li>
    <li class="nav-item"><a data-toggle="tab" href="#forums">Forums</a></li>
    <li class="nav-item"><a data-toggle="tab" href="#misc">Misc</a></li>
</ul>

<div class="tab-content">
    <div id="users_account" class="tab-pane fade in active">
        
    </div>

    <div id="forums" class="tab-pane fade">

    </div>

    <div id="misc" class="tab-pane fade">

    </div>
</div>