@page

@using EC_Website.Web.Pages
@inject IHtmlLocalizer<AboutModel> Localizer
@model EC_Website.Web.Pages.AboutModel
@{
    ViewData["Title"] = Localizer["About"];
}

@section MainContent
{
    <div class="justify-content-center">
        <h1>Hearts of Iron IV: Economic Crisis</h1>
        @Localizer["Description"]

        <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KNjCiEmCNXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
}
