@page
@inject IViewLocalizer Localizer

@model EC_Website.Web.Pages.AgreementModel
@{
    ViewData["Title"] = Localizer["User Agreement"];
}

@section MainContent {
    <h1>@Localizer["User Agreement"]</h1>

    <div class="privacy-policy mt-3 p-1 bg-light">
        <ul>
            <li>
                <b>Общие положения:</b><br />
                Назначение Пользовательского соглашения.<br />
                Настоящее Пользовательское соглашение (далее – «Соглашение») модификация «Economic Crisis» (далее – «EC») оригинальной игры «Hearts of Iron IV» (далее – «HOI4») регулирует отношения между командой Economic Crisis DEV TEAM (далее – «Команда» или «Администрация») и субъектом – Пользователь Economic Crisis (далее –  «Пользователь»), по вопросам исполнения положений Соглашения; нарушения положений Соглашения; порядка подачи возражений при применении Администрацией ограничений на доступ к ресурсам ЕС, по вопросам политики восстановления указаны в пункте 6, как она определена в Соглашении, и по всем другим вопросам, связанных с условиями предоставления права доступа к ЕС Командой, с одной стороны, и с положениями, о которых Пользователь обязан знать при комментирования в сообществах ЕС, с другой стороны.<br />
                Все права на бренд, продукт и торговый знак HOI4 остаются у Paradox Interactive.<br />
                Исполнение настоящего Соглашения является обязательным и необходимым условием использования полного функционала. В соответствии с Соглашением, Пользователь обязан в том числе соблюдать все положения данного Соглашения. Нарушение Пользователем Соглашения влечет к наказанию в виде временного или полного ограничения доступа к сообществу или модификации. В этом случае, в соответствии с Соглашением, могут быть введены ограничения в отношении использования и доступа Пользователя к ресурсам ЕС.<br />
                Все, что не урегулировано в настоящем Соглашении, должно исполняться в соответствии с «Условиями использования сервисов сообщества». Ко всему остальному, что не урегулировано настоящим Соглашением и «Условиями использования сервисов сообщества», подлежат к применению соответствующие нормы применимого законодательства.<br />
                Настоящее Пользовательское соглашение применяется для обеспечения<br />
            </li>
            <li>
                Внесение изменений в Пользовательского соглашение и уведомление Пользователей о таких изменениях
            </li>
        </ul>   

        <ol>
            <li>
                <b>Права и обязанности:</b><br />
                <b>Команда вправе:</b><br />
                <ol>
                    <li>
                        Для контроля и  улучшения качества и сервиса ЕС вносить изменения в настоящее Соглашение.
                    </li>
                    <li>
                        В случае изменения настоящего Соглашения Команда размещает объявления об этом на официальном сайте, направляет уведомление Пользователям через электронную почту или информирует иным доступным способом.
                    </li>
                    <li>
                        Команда вправе отказывать в доступе к своим ресурсам, в том числе в социальных сетях и игровых сообществах Пользователям нарушивших условия настоящего соглашения без объяснения причины.
                    </li>
                    <li>
                        Команда вправе заниматься разработкой модификации ЕС согласно своему внутреннему графику и распорядку, либо без такового.
                    </li>
                    <li>
                        Команда вправе ограничивать в доступах временно или на постоянной основе Пользователям, нарушивших условия настоящего соглашения.
                    </li>
                    <li>
                        Команда вправе информировать пользователя о всех изменениях связанных с ходом своих работ и изменений условий соглашений.
                    </li>
                    <li>
                        Команда вправе изменять настоящее соглашение по своему усмотрению,  в любое время.
                    </li>
                </ol>
            </li>
            <li>
                <b>Права и обязанности Пользователя</b><br />
                <ol>
                    <li>
                        Пользователь обязан соблюдать условия настоящего Соглашения.
                    </li>
                    <li>
                        Пользователь не обязан в момент регистрации указывать полную и достоверную информацию.
                    </li>
                    <li>
                        Пользователи имеют право пользоваться контентом модификации и получать доступ к релизу, предоставляемой командой при соблюдении условий настоящего соглашения.
                    </li>
                    <li>
                        Пользователь должен время от времени проверять все положения Соглашения через официальные уведомления на официальной странице сервиса либо через электронную почту.
                    </li>
                    <li>
                        При возникновении вопросов о игровом процессе Пользователь может подать запрос в службу поддержки и получить ответ на запрос от службы поддержки.
                    </li>
                    <li>
                        Пользователь вправе сообщать Команде об ошибках и неисправностях возникших при использовании модификации.
                    </li>
                    <li>
                        Пользователь не должен злоупотреблять или распространять информацию об ошибках, дефектах, неисправностях при использовании модификации иным лицам в любой форме.
                    </li>
                    <li>
                        При обсуждении и комментариях в сообществах и социальных сетях, а так же форумах и иных ресурсах - Пользователь обязан вести себя в соответствии  с устоявшимися нормами и правилами этих сообществ: не адекватное,  неуважительное общение и поведение (сообщения текстовые и сообщения с картинками, звуковые файлы, фрагменты видео, анимированные картинки в том числе), травля, троллинг, спам, призывы к суициду, бессмысленные сообщения и нецензурная брань запрещаются.
                    </li>
                    <li>
                        Пользователю запрещено распространять заведомо ложную информацию связанную с работой Команды и ЕС в целом.
                    </li>
                </ol>
            </li>
            <li>
                <b>Политика наименований</b><br />
                <ol>
                    <li>
                        При выборе никнейма, подписи, названий на официальном сайте или сообществ ЕС, не используйте наименования, нарушающие положения Соглашения.
                    </li>
                    <li>
                        Запрещено  использовать:
                        <ul>
                            <li>
                                Ложные имена - выдающие себя за администрацию или сотрудника команды.
                            </li>
                            <li>
                                Имена, состоящие из жаргонизма или ненормативной лексики.
                            </li>
                            <li>
                                Имена, осужденные за международным законодательством, террористов, политических деятелей.
                            </li>
                            <li>
                                Имена, дискриминирующие или принижающие расы, национальности, этносы, религии, пол, инвалидность и т.д.
                            </li>
                            <li>
                                Антисоциальные имена, провокативные имена,
                            </li>
                            <li>
                                Непристойные имена, с развратным содержанием.
                            </li>
                            <li>
                                Имена, цели которых заключаются в клевете и нарушении прав третьих лиц, прав на изображение, в разглашении личных данных и во всём, что касается нанесения ущерба и составляет нарушение настоящего Соглашения или применимого законодательства.
                            </li>
                            <li>
                                Имена, создаваемые с намерением продажи или обмена учетными записями за реальные ценности/денежные средства.
                            </li>
                            <li>
                                Имена, содержащие информацию рекламного характера.
                            </li>
                            <li>
                                Имена любой формы, запрещённые Политикой наименования. (Например: Замена букв в нецензурных словах различными символами или написание с ошибками/искаженно не меняет сути слов)
                            </li>
                            <li>
                                Имена, соответствующие хотя бы одному из вышеуказанных условий, могут быть изменены без предварительного уведомления, а в случае повторного нарушения или в зависимости от тяжести нарушения могут быть применены отдельные санкции в соответствии с Соглашением.
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li>
                <b>Политика о публикациях и управлении сообществами.</b><br />
                <ol>
                    <li>
                        Команда имеет право приостанавливать работу официального сайта для проведения технических работ или улучшения качества предоставляемых услуг.
                    </li>
                    <li>
                        Настоящая Политика о публикациях применяется к размещению публикаций и комментариев на официальном сайте модификации «Economic Crisis» и всех официальных сообществах.
                    </li>
                    <li>
                        К публикациям относятся сообщения, изображения, звуковые записи или комбинация данных материалов: записи, фото, видео, которые были опубликованы Пользователем в сообществах или официальном сайте и форуме.
                    </li>
                    <li>
                        В соответствии с разделом 5 «Таблицей об ограничении вредоносных публикаций» Команда имеет право в любое время перемещать, удалять публикации и материалы без предварительного уведомления.
                    </li>
                    <li>
                        Положения, не указанные в настоящей Политике о публикациях, должны исполняться в соответствии с Соглашением. Если положения Политики противоречат содержанию Соглашения то приоритет имеет описанная выше «Политика о публикациях». Все другие положения должны быть истолкованы согласно соответствующим нормам применимого законодательства.
                    </li>
                </ol>
            </li>
            <li>
                <b>Таблица об ограничении вредоносных публикаций</b><br />
                При выявлении определенных действий, указанных в разделах данной таблицы, удаляется публикация/комментарий и ограничивается возможность делать публикации/комментарии. Модератор в праве сам выбирать меру пресечения.<br />
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Классификация</b>
                                </td>
                                <td>
                                    <p>К «вредоносным публикациям» относятся такие действия как:</p>
                                    <ul>
                                        <li>
                                            Размещение публикаций, которые содержат:<br />
                                            Материалы, нарушающие права Команды, права третьих лиц (авторские права, патенты и т.д.) и Пользователей.<br />
                                            Дискредитацию Команды, третьего лица или Пользователя.<br />
                                            Свою/чужую личную информацию (личные данные, местоположение, номер телефона, адрес электронной почты и т.д.)<br />
                                            Материалы, содержащие оскорбление сексуального характера, выражающие вражду и отвращение.<br />
                                            Материалы, цели которых заключаются в клевете и нанесении вреда другим пользователям (включая травлю, распространение слухов и т.д.)<br />
                                            Рекламу или информацию коммерческого характера (рекламирование товара, сайта, раздача подарков и т.д.)<br />
                                            Материалы, содержащие вредоносные программы.<br />
                                            Материалы с сильным идеологическим/религиозным характером<br />
                                            Заведомо ложную информацию о конкретной личности или Команды.<br />
                                            Распространение недостоверной информации, которая вводит в заблуждение Команды/других людей и приносит прямой/косвенный ущерб.<br />
                                            Язык вражды, содержащие негативные высказывания в адрес лиц в связи с принадлежностью к социальной группе по расовому, национальному, этническому, половому, религиозному или любым другим признакам.<br />
                                            Рекламу (пропаганду) конкретной религии или материалы, содержащие оскорбление религиозных чувств.<br />
                                            Материалы, содержащие информацию о совместном владении, прокате и обмене учетных записей.<br />
                                            Материалы, выдающие себя за Модератора, сотрудника Команды или за других пользователей.<br />
                                            Пропаганду и стимулирование насилия, ненадлежащего поведения, азарта.<br />
                                            Материалы, связанные с нарушением Соглашения.<br />
                                            Материалы, не имеющие отношение к сообществу пользователей или наносящие вред пользователям<br />
                                            Материалы, запрещенные положениями и правилами форума и другими юридическими документами.<br />
                                        </li>
                                        <li>
                                            Публикация материалов в большом количестве за короткий период времени или повторная публикация одного и того же материала.<br />
                                            В соответствии с настоящим положением, при обнаружении вредоносной публикации, автор данной публикации подвергается санкциям, публикация удаляется/перемещается. Всем Пользователям, включая автора, и тех, кто оставил комментарий, ограничивается доступ на просмотр данной публикации.<br />
                                            Если Вы нанесли значительный ущерб другому Пользователю либо нарушили правила, истолкованные согласно соответствующим нормам применимого законодательства, то в этом случае, даже при наличии серьезных причин, Вам могут ограничить доступ к сообществам и сервисам навсегда. В зависимости от тяжести нарушения данные меры могут быть применены немедленно.<br />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <b>Политика ограничения доступа к использованию</b><br />
                - Процесс ограничения и порядок подачи заявления о нарушении<br />

                Ниже приведен порядок подачи заявления о нарушении и процесс ограничения доступа за нарушения положений Соглашения.<br />
                Нарушение правил положений Соглашения → заявление о нарушении → расследование Администрации → предварительное оповещение → ограничение доступа → подача апелляции → объявление результатов апелляции.<br />
                Заявление о мошенничестве, оскорблении, краже/взломе учетной записи можно подать в течение 15 дней с момента возникновения произошедшего.<br />
                Администрация прилагает все возможные усилия для того, чтобы отвечать на Ваши запросы в кротчайшие сроки момента получения запроса.<br />
                При ограничении доступа, Администрация сообщает Пользователю о причине в момент наложения ограничений. Однако, относительно определённых действий, указанных в Условиях, уведомление может быть отправлено позднее.<br />

                - Подача заявлении о нарушении / запрос и подача апелляции.<br />
                Служба поддержки: Через официальную страницу в службе поддержки Пользователь может оформить запрос или предложение по поводу учетной записи. Также в службу поддержки можно подать апелляцию или иными способами напрямую к администрации.<br />
                Последствия апелляции: Если поданная апелляция будет сочтена обоснованной, Администрация немедленно разблокирует Пользователя.<br />

                <b>Ограничения:</b><br />
                Ограничения делятся на:<br />

                <ul>
                    <li>
                        Временное ограничение доступа к функциям сообщества и принудительное изменение наименований (далее «Предупреждение»): все временные ограничения такие, как временное ограничение доступа к сообществам, блок чата, ограничение действий, принудительное изменение наименований учетной записи, подписи и т.д., удаление изображений, предупреждения/советы Модератора и т.д.
                    </li>
                    <li>
                        Временные ограничения доступа к сервисам производятся, когда нужно незамедлительно проверить вредоносность обнаруженных багов, а также возможного ущерба от таких багов. Такое временное ограничение осуществляется форме временного ограничения учетной записи. При отмене ограничений или ужесточении ограничения Пользователь будет уведомлен об этом.
                    </li>
                    <li>
                        Ограничение использования сервисом на определенный срок (далее «Срок»): ограничивается доступ к использованию комментировании и публикациям на данной площадке.
                    </li>
                    <li>
                        Ограничение на постоянной основе (далее «Пермабан»): доступ к использованию всех услуг, связанных с данной площадкой, ограничивается навсегда. Пользователь лишается комментировании и публикациям в данной площадке.
                    </li>
                    <li>
                        Наказание: Администрация имеет право удалять либо изменять публикацию или комментарий, если произведенное Пользователем нарушение Соглашения  оказывает негативное влияние на использование модификации другими Пользователями.
                    </li>
                    <li>
                        «Наказание» может быть назначено моментально, размер «Наказания» зависит от тяжести нарушения Соглашения и может быть удвоено при рецидиве.
                    </li>
                </ul>

                <b>Норма ограничения</b><br />
                <ul>
                    <li>
                        Администрация имеет право применить Постоянную блокировку одновременно с Наказанием.
                    </li>
                    <li>
                        Администрация вправе прибегать к комбинированию наказаний в виде: Срок и Предупреждение возможно применить одновременно с  Наказанием.
                    </li>
                    <li>
                        Если у Пользователя выявлено более одного нарушения, то в данном случае Администрация может установить ограничение за наиболее тяжкое из них.
                    </li>
                    <li>
                        Если нарушение Соглашения произведено третьим лицом при совместном владении учетной записи, то в этом случае ограничения могут быть применены на учетную запись.
                    </li>
                    <li>
                        Администрация имеет право изъять информацию учетной записи приобретённые другим Пользователем неправомерным образом. Также, данная учетная запись, получившая информацию, может подвергнуться ограничению на основании нарушения Соглашения.
                    </li>
                </ul>
            </li>
            <li>
                <b>Таблица критериев ограничений.</b><br />
                <ol>
                    <li>
                        При выявлении определенных действий, указанных в разделах данной таблицы, Пользователь, совершивший данное действие, может быть привлечен к ответственности, а также может получить от имени Администрации строгие ограничени. Незаконные действия, установленные в настоящем Соглашении, должны обязательно включать действия, соответствующие критериям, содержащимся в таблице ниже. Все остальные положения, не указанные в данной таблице, должны ограничиваться положениями Соглашения и правилами, истолкованными согласно соответствующим нормам применимого законодательства. Также, независимо от содержания Соглашения, ограничению подлежат все действия, которые оказывают значительное негативное влияние на систему.<br />
                        В зависимости от тяжести нарушения к Пользователю может применяться Предупреждение, Временная блокировка, Пермабан, Наказание и т.д.. Если у Пользователя выявлен рецидив, то в данном случае Администрация может увеличить меру пресечения.<br />
                        Даже если несколько Пользователей нарушили одно и тоже положение, в зависимости от тяжести нарушения Администрация самостоятельно назначает ограничения из Предупреждения, Временной блокировки, Пермабан  и Наказания.<br />
                        Все остальные действия Пользователя, противоречащие правилам, истолкованным согласно соответствующим нормам применимого законодательства, будут строго ограничиваться.<br />

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Вид нарушения
                                        </th>
                                        <th>
                                            Содержание нарушения
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Кража учетной записи
                                        </td>
                                        <td>
                                            К краже учетной записи на нашем форуме или же сайте относятся следующие пункты, приведенные ниже:<br />

                                            (1) Любые наносящие ущерб действия, связанные с несанкционированным доступом к учетной записи.<br />

                                            Расследование и проверка полученного ущерба проводятся только в случае кражи учетной записи.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Кража имени
                                        </td>
                                        <td>
                                            К «краже имени» относится:<br />
                                            (1) Создание учетной записи с использованием чужой личной информации.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Торговля учетной записью
                                        </td>
                                        <td>
                                            К «торговле учетной записью» относятся следующие действия:<br />

                                            (1) Произведение «оплаты наличными средствами» при торговле учетной записью.<br />
                                            Например: действия связанные с продажей учетной записи за наличные средства.<br />

                                            (2) Обмен учетными записями либо дарение учетной записи.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Мошенничество
                                        </td>
                                        <td>
                                            К «мошенничеству» относятся следующие действия:<br />

                                            (1) Получение прибыли несправедливым образом за счёт распространения, использования ложной информации.<br />

                                            Например:
                                            Получение прибыли, выдавая себя за другого, например членом какой либо организации.<br />

                                            Повторное распространение ложной информации о разработке.<br />

                                            (2) Выдача себя за сотрудника Команды или Администрации.<br />

                                            В случае выдачи себя за сотрудника Команды, Администрации или относящимся к ним лицам сразу может быть применена блокировка на постоянной основе.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Злоупотребления
                                        </td>
                                        <td>
                                            Получение выгоды за счет обхода ограничений системы, злоупотребляя Пользовательским соглашением.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Распространение ложной информации
                                        </td>
                                        <td>
                                            К «распространению ложной информации» относятся следующие действия:<br />

                                            (1) Распространение непроверенной информации с целью введения пользователей в заблуждение или нанесения прямого или косвенного ущерба.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Засорение чата
                                        </td>
                                        <td>
                                            К пунктам «засорение чата» относятся следующие действия:<br />

                                            (1) Неоднократная отправка одинаковых или очень близких по смыслу сообщений. Отправка сообщений с значительным объемом, которая может причинить неудобства другим пользователям.<br />

                                            Если Вы засоряете общий чат, то Вам могут ограничить доступ к общему чату без каких-либо предварительных предупреждений.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Коммерческий пиар и реклама
                                        </td>
                                        <td>
                                            К пунктам «коммерческий пиар и реклама» относятся следующие действия:<br />

                                            (1) Распространение в чате, на форуме или других сообществах ЕС информации, не относящейся к ЕС или Команды<br />

                                            Например:<br />
                                            Публикация рекламы в чате.<br />
                                            Размещение комментариев рекламного характера под нашими публикациями.<br />
                                            Распространение информации коммерческого характера, не имеющей отношения к нашей Команде.<br />
                                            Распространение информации или рекламы настроенной против Администрации.<br />

                                            При ведении разговоров и чатов, содержащих рекламу, Пользователю могут ограничить доступ к чату без каких-либо предварительных предупреждений.<br />
                                            Для рекламы Ваших видео по нашему продукту отведена отдельная беседа в сообществе Вконтакте или категория на нашем форуме.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Использование недопустимого наименования
                                        </td>
                                        <td>
                                            К «использованию недопустимого наименования» относится:<br />

                                            (1) Выдача себя за Администрацию или сотрудника Команды.<br />
                                            (2) Использование жаргонизма или ненармотивной лексики.<br />
                                            (3) Использование имен, вызывающих сексуальное оскорбление, отвращение, неприязнь у других Пользователей.<br />
                                            (4) Использование имён, дискриминирующих или принимающих расы, национальности, этносы, религии, пол, инвалидность и т.д.<br />
                                            (5) Использование антиобщественных имен.<br />
                                            (6) Использование имён, цели которых заключаются в клевете и нарушении прав третьего лица, прав на изображение, в посягательстве на личные данные и ко всему, что касается нанесению ущерба и нарушению<br />
                                            (7) Использование имён, запрещённых положениями Условий использования сервиса.<br />

                                            Если Вы используете «нецензурные имена» в целях раздражения других Пользователей, Вы можете подвергнуться ограничению на основании пункта «Использование ненормативной лексики»<br />
                                            При использовании ненормативных наименований учетных аккаунтов, игрового контента, данные наименования могут быть ограничены и изменены или удалены. (Включая Предупреждения)<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Использование нецензурного контента/ нецензурных материалов
                                        </td>
                                        <td>
                                            К пунктам «Использования нецензурного контента/ нецензурных материалов» относится:<br />

                                            (1) Дискриминация или принижение рас, национальностей, этноса, религии, пола, инвалидности и т.д.<br />
                                            (2) Использование материалов, вызывающие у других людей отвращение и оскорбление.<br />
                                            (3) Использовать материалы, носящие антисоциальный характер<br />
                                            (4) Использование материалов, содержащие запрещенные Условиями использования Пользовательского соглашения<br />
                                            (5) Материалы, не соответствующие содержанию контента.<br />

                                            К нецензурному также относятся наименования регионов, партий, объявления внутри игры и т.д.<br />

                                            При обнаружении нецензурных данных, публикация сначала подвергается ограничению, а затем удаляется.<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Использование ненормативной лексики
                                        </td>
                                        <td>
                                            К «Использованию ненормативной лексики» относится:<br />

                                            (1) Использование жаргонизма и ненормативной лексики<br />
                                            (2) Развратные выражения или поведения, содержание которых полностью состоит из описания или демонстрации неприемлемого поведения и имеет сексуальный характер или подтекст.<br />
                                            (3) Дискриминация или принижение рас, национальностей, этноса, религии, пола, инвалидности и т.д.<br />
                                            (4) Угрозы
                                            (5) Все остальные выражения или действия, вызывающие у других людей отвращение и неудобства и запрещённые другими юридическими документами.<br />
                                            (6) Сообщения, в которых есть личная информация о себе а также других пользователях. (место нахождения, номер телефона, адрес электронной почты и т.д.)<br />

                                            При обнаружении общений или чатов, содержащих в себе ненормативную лексику, Пользователю могут быть ограничить доступ к чату без каких-либо предварительных предупреждений.<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li>
                        Команда не несет ответственность за убытки Пользователя, возникшие из-за ограничения доступа к сервису.
                    </li>
                    <li>
                        Администрация оставляет за собой избрание меры пресечения.
                    </li>
                    <li>
                        В случае нарушения Пользовательского соглашения, учетная запись может подтвергнуться Пермабану.
                    </li>
                    <li>
                        Независимо от того, были введены санкции или нет, нарушения Пользовательского соглашения различными сообщениями, могут понесли удаление.
                    </li>
                </ol>                           
            </li>
            <li>
                <b>Политика пожертвований (Оферта)</b><br />
                <ol>
                    <li>
                        Жертвователь добровольно и безвозмездно передает в собственность и распоряжение Команды денежные средства в размере, определяемой Жертвователем.
                    </li>
                    <li>
                        Оферта может быть акцептована Жертвователем путем перечисления Жертвователем денежных средств (Пожертвования) в пользу Команды по реквизитам, указанным ниже.
                    </li>
                    <li>
                        Датой акцепта Оферты и, соответственно, датой заключения Договора является дата поступления денежных средств от Жертвователя на счет Команды.
                    </li>
                    <li>
                        Любые пожертвования переданные Команде, автоматически определяются на разработку проекта ЕС.
                    </li>
                    <li>
                        Команда обязуется перед Жертвователем выпустить не менее одного коммита после перечисления средств на счет Команды.
                    </li>
                    <li>
                        Команда обязуется поддерживать активным канал на ресурсе Discord #mod_updates.
                    </li>
                    <li>
                        В случае закрытия проекта ЕС или расформирования Команды, Команда обязуется сообщить об этом на всех доступных ресурсах. При этом Команда не выплачивает каких-либо компенсаций и возмещений Жертвователю.
                    </li>
                    <li>
                        Совершая действия, предусмотренные данной Офертой, Жертвователь подтверждает, что ознакомлен с условиями и текстом настоящей Оферты, целями деятельности Команды, осознает значение своих действий, имеет полное право на их совершение и полностью принимает условия настоящей Оферты.
                    </li>
                </ol>
            </li>
            <li>
                <b>Ответственность сторон.</b><br />
                <ol>
                    <li>
                        Команда несет ответственность исключительно в рамках контента использованного при разработке модификаций.
                    </li>
                    <li>
                        Команда несет ответственность в рамках Сообщества, исключительно в соответствии с “Условиями сообщества”, ресурсами которых пользуется Команда.
                    </li>
                    <li>
                        Команда не несет ответственности за предоставление и сохранность пользователем персональных данных, предоставленных самостоятельно пользователем. Так как в предоставлении персональных данных нет изначальной необходимости и требований.
                    </li>
                    <li>
                        Команда не несет ответственности за последствия наступивших для  Пользователя связанных с недобросовестностью и неисполнением пункта 2.5. настоящего соглашения.
                    </li>
                    <li>
                        Команда не несет ответственности за последствия и ущерб любого характера,  возникшие в связи с неправильной или неправомерной эксплуатацией модификации.
                    </li>
                    <li>
                        Команда не несет ответственности за последствия и возможный ущерб имуществу пользователя связанного с  нарушением пользователем авторского права, условия настоящего соглашения и иных вытекающих из настоящего соглашения условий.
                    </li>
                    <li>
                        Команда не несет ответственности за действия и ущерб иных пользователей, которые могут причинить вред здоровью  и имуществу Пользователя.
                    </li>
                    <li>
                        Ответственность за все неблагоприятные последствия, такие как прекращение использования сервисов по причине отключения Учетной записи, невозможность изменить данные, оставшиеся на Учетной записи, лежит на  Пользователе персонально, который обязан позаботиться об этом до подачи заявки на отключение.
                    </li>
                    <li>
                        Команда не компенсирует и не возмещает материальный и моральный вред, в случае, если конечный и промежуточный результат модификации ЕС или его промежуточные составные элементы не удовлетворяют ожиданиям Пользователя.
                    </li>
                    <li>
                        В случае, если Пользователь не проинформирует команду об ошибке и попытается извлечь из этого выгоду в любой форме, то данное действие будет рассматриваться как нарушение Соглашения, с последующим временным или постоянным ограничением в  доступе к сервисам ЕС.
                    </li>
                    <li>
                        В случаи распространении заведомо ложной информации связанных с работой Команды и модификации - доступ к сервисам может быть ограничен временно либо постоянно.
                    </li>
                    <li>
                        В случае нарушения Пользователем правил, указанных в таблице ограничений (раздел 6 Соглашения), доступ к сервисам может быть ограничен временно, либо на постоянной основе.
                    </li>
                    <li>
                        Пользователь несет всю ответственность за ущерб, причиненный в результате небрежного управления собственной личной информацией или в случае, если им было выдано согласие на использование личной информации третьему лицу.
                    </li>
                </ol>   
            </li>
            <li>
                <b>Расторжение Соглашения.</b><br />
                <ol>
                    <li>
                        Пользователь может в любой момент отказаться от Соглашения. Путем, подачи подачи заявки на отключение Учетной записи на сервисах ЕС.
                    </li>
                    <li>
                        В случае, если Пользователь отказывается от Соглашения, то Администрация в соответствующий период времени с даты отказа удаляет персональную информацию Пользователя, за исключением случаев, когда она обязана хранить ее в силу соответствующих положений закона и постановлений, Политики конфиденциальности.
                    </li>
                    <li>
                        В случае отключения Учетной записи, в определенный период времени с момента отключения Учетной записи, восстановление активности учетной записи недоступно.
                    </li>
                    <li>
                        Действие соглашения прекращается автоматически, если пользователь удалит все публикации в сообществах ЕС в Вконтакте и других ресурсах за исключением официального сайта и форума Команды.
                    </li>
                </ol>               
            </li>
        </ol>      
    </div>
}
