@page
@inject IViewLocalizer Localizer

@model EC_Website.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>EC Dev Team</h1>

<p>@Localizer["ContactDesc"]</p>

<address>
    <strong>Admin email:</strong> <a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a><br />
</address>
