@page
@model EC_Website.Pages.Forums.Thread.CreateThreadModel
@{
    ViewData["Title"] = "Create Thread";
}

@section Head {
    <partial name="_SyncfusionScriptsPartial" />
}

<h2>Create new thread</h2>

<h4>Start new thread in: <span class="text-info">@Model.Board.Title</span> </h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form method="post" asp-route-boardId="@Model.Board.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Topic*</label>
                <input asp-for="Input.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Post*</label>
                <span asp-validation-for="Input.PostContent" class="text-danger"></span>
                <ejs-richtexteditor id="rich_texteditor" ejs-for="Input.PostContent" height="300">
                    <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Board/Index" asp-route-slug="@Model.Board.Slug">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}