@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext db

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="username" class="nav-link" asp-page="/User/Index" asp-route-username="@User.Identity.Name" title="Manage">
            @{
                var user = db.Users.Where(i => i.UserName == User.Identity.Name).FirstOrDefault();
                <img src="@user.ProfilePhotoUrl" class="rounded-circle" style="width: 30px; height: 30px" alt="Profile Photo" />
            }
            @User.Identity.Name
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index"><i class="fa fa-sign-out-alt"></i>&nbsp; Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i>&nbsp; Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in-alt"></i>&nbsp; Login</a>
    </li>
}
</ul>