
.forum {
    background-color: black;
    color: azure;
    border: dashed;
    border-color: black;
    border-radius: 10px;
}

.forum-toolbar {
    text-align: right;
}
    .forum-toolbar a {
        color: azure;
    }

.forum-body {
    background-color: azure;
}

.forum-search-panel {
    background-color: #454242;
}

.forum-category {
    background-color: seagreen;
    color: azure;
    font-weight: bolder;
}

.forum-table-head {
    color: black;
    border: solid black;   
}