
.forum_sketch {
    background-color: black;
    color: azure;
    border: dashed;
    border-color: black;
    border-radius: 10px;
}

.forum_body {
    margin: auto;
    background-color: azure;
}


.forum_search_panel {
    background-color: #454242;
    margin: auto;
}

.forum_category {
    background-color: seagreen;
    color: azure;
    font-weight: bolder;
}

.table_head {
    color: black;
    border: solid black;   
}

.btn-nobackground {
    color: black;
    background: unset;
    border: unset
}
