a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f5;
}

main {
    flex: auto;
}

.footer {
    flex-shrink: 0;
}

/*-------------------------------------------------------*/
.social-icon {
    height: 25px;
}

.comment-editor {
    border: none;
    width: 100%;
    outline: 0px !important;
    -webkit-appearance: none;
}

.navbar-nav .nav-link.nav-link-topbar {
    font-weight: 700;
    padding: 0 17px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bg-black {
    background-color: #1C1C20
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 200px;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 576px) {
    div.container {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }

    .iframe-container {
        padding-top: 0;
    }
}